@import 'tailwindcss';
@theme {
  --color-main: #8e8e8e;
  --color-bg: #000;
  --color-text: #fff;

  --font-main: var(--font-main);
}

html[data-theme='light'] {
  --color-main: #6b6b6b;
  --color-bg: #000;
  --color-text: #fff;
}
html[data-theme='dark'] {
  --color-main: #8e8e8e;
  --color-bg: #fff;
  --color-text: #000;
}

* {
  box-sizing: border-box;
}
html {
  scrollbar-width: none;
}
