@import 'tailwindcss';
@plugin "fluid-tailwindcss";
@theme {
  --color-main: #8b8b8b;
  --color-bg: #000000;
  --color-text: #ffffff;
}

[data-theme='dark'] {
  --color-main: #8b8b8b;
  --color-bg: #000000;
  --color-text: #ffffff;
}
[data-theme='light'] {
  --color-main: #8b8b8b;
  --color-bg: #ffffff;
  --color-text: #000000;
}

* {
  box-sizing: border-box;
}
html {
  scrollbar-width: none;
}
body:has(.hide-nav) nav {
  display: none;
}
